NET "SW<0>" LOC = T7;
NET "SW<1>" LOC = R7;
NET "SW<2>" LOC = U8;
NET "SW<3>" LOC = V4;
NET "SW<4>" LOC = V3;
NET "SW<5>" LOC = V2;
NET "SW<6>" LOC = U1;
NET "SW<7>" LOC = R4;
NET "SW<8>" LOC = R1;
NET "SW<9>" LOC = N2;
NET "SW<10>" LOC = N1;
NET "SW<11>" LOC = M1;
NET "SW<12>" LOC = K7;
NET "SW<13>" LOC = K2;
NET "SW<14>" LOC = J7;
NET "SW<15>" LOC = J6;

NET "data_in<0>" LOC = D10;
NET "data_in<1>" LOC = E10;
NET "data_in<2>" LOC = A11;
NET "data_in<3>" LOC = B11;
NET "data_in<4>" LOC = C11;
NET "data_in<5>" LOC = D11;
NET "data_in<6>" LOC = E11;
NET "data_in<7>" LOC = F11;
NET "data_in<8>" LOC = A12;
NET "data_in<9>" LOC = E12;
NET "data_in<10>" LOC = F12;
NET "data_in<11>" LOC = A13;
NET "data_in<12>" LOC = B13;
NET "data_in<13>" LOC = D13;
NET "data_in<14>" LOC = E13;
NET "data_in<15>" LOC = A14;

NET "data<0>" LOC = J12;
NET "data<1>" LOC = J13;
NET "data<2>" LOC = J14;
NET "data<3>" LOC = J15;
NET "data<4>" LOC = J16;
NET "data<5>" LOC = J17;
NET "data<6>" LOC = K12;
NET "data<7>" LOC = K13;
NET "data<8>" LOC = K14;
NET "data<9>" LOC = K15;
NET "data<10>" LOC = L15;
NET "data<11>" LOC = L16;
NET "data<12>" LOC = L17;
NET "data<13>" LOC = L18;
NET "data<14>" LOC = M13;
NET "data<15>" LOC = M14;

NET "address<0>" LOC = C17;
NET "address<1>" LOC = C18;
NET "address<2>" LOC = D16;
NET "address<3>" LOC = D17;
NET "address<4>" LOC = E15;
NET "address<5>" LOC = E16;
NET "address<6>" LOC = F14;
NET "address<7>" LOC = F15;
NET "address<8>" LOC = F17;
NET "address<9>" LOC = F18;
NET "address<10>" LOC = G13;
NET "address<11>" LOC = G14;
NET "address<12>" LOC = G15;
NET "address<13>" LOC = G16;
NET "address<14>" LOC = H14;
NET "address<15>" LOC = H15;
NET "address<16>" LOC = H16;
NET "address<17>" LOC = H17;

NET "OE" LOC = M16;
NET "WE" LOC = M18;
NET "EN" LOC = M15;

NET "CLK" LOC = U9;
NET "RST" LOC = U10;
